### Intellij Files ###
*.iml
*.idea

### Java Files ###
*.class

### Eclipse Files ###
.project
.settings
.classpath

### Lucene and etc..
.lucene
logs/*

### mac System file
.DS_Store

### Package Files
# *.jar
*.war
*.ear

### build
target/
build/
classes/
.gradle/
gradle/
/gradlew*

#### c
cmake-build-debug/

### etc ###
rebel.xml

### avro
avro/*